<div class="row ">
  <div class="col-lg-10 offset-lg-1">
    <div class="card post-card mb-5">
      <% if @post.header_image.present? %>
        <div class="image-header" style="background-image: url(<%= url_for(@post.header_image) %>)"></div>
      <% end %>
      <div class="card-body">
        <div class="px-5 py-4">
          <h2 class="card-title mb-5"><%= @post.title %></h2>
          <% @post.elements.order(position: :asc).each do |element| %>
            <% if element.image? %>
              <div class="image-element mb-5">
                <%= image_tag(element.image) %>
              </div>
            <% else %>
              <div class="content-element text-justify mb-5">
                <%= element.content %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
